@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.form_container {
    width: 30%
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 65%;
    }
}

@media screen and (max-width: 700) {
    .form_container {
        width: 85%;
    }
}