.form_container {
    width: 30%
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 65%;
    }
}

@media screen and (max-width: 700) {
    .form_container {
        width: 85%;
    }
}